<!-- Loop over each object in the workouts array -->
{{#each workouts as |workout|}}
	<div class="row mb-4 workout">
		<div class="col-md-5">
			<h2>
				<!-- Call helper function with triple brackets to render the emoji span as HTML -->
				<a href="/workout/{{workout.id}}">{{workout.name}}</a>
			</h2>
			<iframe
				width="560"
				height="315"
				src={{workout.video}}
				title="YouTube video player"
				frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
				allowfullscreen
			></iframe>

			<p>Created by
				{{user.name}}
				on
				{{workout.level}}</p>
		</div>

		<div class="col-md-7">
			<p>
				{{workout.description}}
			</p>
		</div>
	</div>
{{/each}}