<!-- Loop over each object in the projects array -->

{{!-- <label for="Exercises">Choose an exercise</label>

<select id="exercises">
	<option value="Chest">Chest</option>
	<option value="Back">Back</option>
	<option value="Abs">Abs</option>

</select> --}}


<!-- Loop over each object in the workouts array -->
{{#each workouts as |workout|}}
	<div class="exercise-card">
		<div class="card">
			<h2>
				<!-- Call helper function with triple brackets to render the emoji span as HTML -->
				<a href="/workout/{{workout.id}}">{{workout.name}}</a>
			</h2>
			<p>Body Part: {{workout.body_part}}</p>
			<p>Level: {{workout.level}}</p>
				<p>Sets: {{workout.sets}}</p>
				<p>Repetitions: {{workout.repetitions}}</p>
			<a href={{workout.video}}><img src={{workout.gif}} class="gif" alt="Exercise GIF" width="100%"></a>
					
		</div>

		<div class="col-md-7">
			<p>
				{{workout.description}}
			</p>
		</div>
	</div>
	{{/each}}

<script src="js/homepage.js" type="module"></script>